@import 'reset';
@import 'variables';
@import 'links';
@import 'placeholder';
@import 'elements';
/*@import 'font-face';*/
@import '~modularscale-sass/stylesheets/modularscale';
@import 'profil-form';
@import 'breakpoint';

/*#map { position:absolute; top:0; bottom:0; width:100%; height: 100%;}*/

/* Styling the Dropdown */
.profil-form__select::after {
  border-color:#121212;
  border-bottom-color:white;
  border-left-color:white;
}

.profil-form__select {
  width: 100%;
  margin:0;
  display:inline-block;
  border-color:white;
  
  border: 1px solid #656565;
}

.profil-form__select select {
  width:100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-size: 16px;
  color: #fff;
  padding:10px;
}
 

/* Styling the Slider */
/* The slider itself */
.slider {
  -webkit-appearance: none;  
  appearance: none;
  /* min-width:320px; */
  width:50%;
  height: 2px; 
  background: #d3d3d3;
  background: linear-gradient(to right, #f4f4f4 0%,#e3e3e3 50%,#f4f4f4 100%);
  outline: none; 
  opacity: 1; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top:33px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; 
  height: 30px;
  border-radius:99px;
  border:1px solid white;
  background: #161616; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #2d2d2d 0%, #161616 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #2d2d2d 0%,#161616 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #2d2d2d 0%,#161616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#161616',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px; 
  height: 30px;
  border-radius:99px;
  border:1px solid white;
  background: #161616; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #2d2d2d 0%, #161616 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #2d2d2d 0%,#161616 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #2A8C63 0%,#2d2d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#161616',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  cursor: pointer; 
}

/* sticky shizzle */

 .filler {
  min-height: 50rem;
  text-align: center;
}

#scrolly-overlay .scrolly article {
  padding: 0;
  max-width: 50rem;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;

}
#scrolly-overlay .scrolly article .step {
  height: 150vh;
}
#scrolly-overlay .scrolly article .step:last-of-type {
  margin-bottom: 0;
}
#scrolly-overlay .scrolly article .step.is-active p {
  opacity: 1;
  transition: 1.5s;
}
#scrolly-overlay .scrolly article .step p {
    opacity: 1;
    font-size: 20px;
    line-height: 1.4;
    color: white;
    font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    margin: 0;
    padding: 1rem 0;
    text-align: left;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    transition: opacity 500ms ease-in-out;
    font-weight:normal;
    @include breakpoint($breakpoint--m) {
      font-size: 24px;
    }
}

#scrolly-overlay .scrolly article .step p span {
    font-size: 22px;
    font-weight:700;
    margin-bottom:15px;
    line-height: 1.2;
     @include breakpoint($breakpoint--m) {
      font-size: 26px;
    }
}

#scrolly-overlay .scrolly .sticky {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100vh;
  background: #969696;
  margin: 0;
  top: 0;
  left: 0;
}

#slides {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.slide {
  position: absolute;
    width:100%;
    height:100%;
}

#mapScrolly {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

#mapViz {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-canvas {
  height: 100vh;
}


.closelegend:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    transform: rotate(-45deg);
    border: 5px solid white;
    border-right: 5px solid #121212;
    border-top: 5px solid #121212;
    right: 10px;
    top:13px;
}

/* Layout Option with Grid */


#filteroverlay {
  opacity: 0;
  max-width:500px;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  padding-top:0; border-top:5px solid #4f4f4f;
  grid-template-areas: 
      "closelegend closelegend"
      "title title"
      "unfallschwere unfallart"
      "wochentag jahre"
      "uhrzeit uhrzeit";
  bottom:0;
  font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
  color: white;
  position: absolute;
  margin: 0;
  padding: 10px 10px 30px 10px;
  background: #121212;
  & h2 {
      font-size: ms(5);
      line-height: 1.2;
      margin:0;
      padding: 36px 0 0 5px;
    }
  @include breakpoint($breakpoint--m) {
      margin: 10px;
      grid-template-columns:3fr 2fr;
      grid-auto-flow: row;
      padding: 10px 20px 30px 20px;
    }
}

#filteroverlay h3 {
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}


.closelegend {
    grid-area:closelegend;
    display:grid;
    grid-template-columns:auto 30px;
}

.closelegend p {
    justify-self:right;
    margin:0 0 8px 0;
}

.title {
    grid-area:title;
    display:none;
    grid-template-columns:3fr 7fr;
}
.unfallart {
    grid-area:unfallart;
}
.wochentag {
    grid-area:wochentag;
    display:flex;
    flex-direction: column;
    @include breakpoint($breakpoint--m) {
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-column-gap:12px;
            grid-auto-flow: row;
    }
} 


.unfallschwere {
    grid-area:unfallschwere;
}

.unfallschwere .tawo-checkbox {
    margin:0;
     @include breakpoint($breakpoint--m) {
         margin: 6px 15px 6px 0;
    }
}
.uhrzeit {
    grid-area:uhrzeit;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-column-gap:12px;
}

.jahre {
    grid-area:jahre;
}

#filteroverlay svg {
    height:90px;
    
}

/* Checkboxes */

.tawo-checkbox {
    position: relative;
    font-size: 16px;
    margin: 6px 15px 6px 0;
    color: #2a2a2a;
    display: inline-block;
//  border: 1px solid #000;
    border-radius: 8px;
    color: #d5d5d5;
    padding:7px;
    transition:background 0.5s;
}

.tawo-checkbox input[type="checkbox"], .tawo-button input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

.tawo-checkbox label, .tawo-button label {
    cursor: pointer;
    position: relative;
    padding: 10px 0 10px 26px;
}

.tawo-checkbox input[type="checkbox"]+label:before, .tawo-button input[type="checkbox"]+label:before {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid #d5d5d5;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    top: 10px;
}

.tawo-checkbox:hover input[type="checkbox"]+label:before,
.tawo-checkbox input[type="checkbox"]:checked+label:before {
    border: 1px solid #2a2a2a;
}

.tawo-checkbox input[type="checkbox"]:checked+label:after, .tawo-button input[type="checkbox"]:checked+label:after {
    content: '';
    background-color:black;
    mask:url(../img/check-solid.svg) no-repeat;
    -webkit-mask:url(../img/check-solid.svg) no-repeat;
    background-size:10px 10px;
    position: absolute;
    top: 14px;
    left: 4px;
    text-align: center;
    display: block;
    height: 10px;
    width: 10px;
}

.tawo-checkbox:hover, .tawo-button label:hover {
    background:#202020;
    
}

.tawo-checkbox input[type="checkbox"]+label:before {
    background-color: #000;
    border-color: #000;
}

.tawo-checkbox input[type="checkbox"]+label:hover:before,
.tawo-checkbox input[type="checkbox"]:checked+label:before {
    border-color: #d5d5d5;
}

.tawo-checkbox input[type="checkbox"]:checked+label:after {
    color: #d5d5d5;
}

.tawo-checkbox input[type="checkbox"]+label:after {
        color: #000;
    }

.tawo-checkbox input[type="checkbox"]:checked+label[for="leichtverletzte"]:before {
        background-color: #35FDFF;
    }

.tawo-checkbox input[type="checkbox"]:checked+label[for="schwerverletzte"]:before {
        background-color: #43d722;
    }

.tawo-checkbox input[type="checkbox"]:checked+label[for="tote"]:before {
        background-color: #e60000;
    }


.tawo-checkbox input[type="checkbox"]+label:before, .tawo-button input[type="checkbox"]+label:before {
  background-color: rgba(226, 230, 229, 0.5);
  border-radius: 10px
}

.tawo-checkbox *, .tawo-button * {
  user-select: none;
}

// Buttons Styling Test
.uhrzeit h3 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.wochentag h3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.tawo-button input[type="checkbox"] {
  visibility:hidden;
  position: absolute;
}

.tawo-button input[type="checkbox"]:checked + label  {
  color:white;
}

.tawo-button label {
  padding: 10px 0 10px 26px;
  border: 1px solid #656565;
  border-radius:3px;
  width:100%;
  transition:background 0.5s;
}

.wochentag label {
  margin-bottom:10px;
}

.tawo-button input[type="checkbox"]+label:before{
  left:10px;
}

.tawo-button input[type="checkbox"]:checked + label:after {
  left:10px;
}

.tawo-button input[type="checkbox"]:checked+label:after {
  background-color:white;
}

.tawo-button input[type="checkbox"] + label:before {
  background:none;
  border:none;
}

.mapboxgl-ctrl-bottom-left {
  @include breakpoint($breakpoint--m) {
    bottom:18px !important;
    right:5px !important;
    left: auto !important;
  }
}

// POPUP TIME

.mapboxgl-popup {
  z-index: 1000000 !important;
}
.mapboxgl-popup-content {
  min-width: 250px;
  border-radius: 0 !important;
  color:white;
  background: rgba(18,18,18,0.8) !important;
  padding:0 10px 15px 10px !important;
  border: 1px solid #4f4f4f;
  border-top: 5px solid #4f4f4f;
  box-shadow: none !important;
}

.mapboxgl-popup-content h2{
    margin:8px 0 14px 0;
    font-size: 1.5em;
}

.mapboxgl-popup-content p {
    margin:8px 0 4px 0;
}

.mapboxgl-popup-tip {
  opacity: 0.9;
  border-top-color:#4f4f4f !important;
}

.popup-accidenttype {
  font-size: 14px;
  &::before {
  vertical-align: middle;
  display: inline-block;
  content: ' ';
  background-color:white;
  mask:url('../../src/img/wheel.svg') no-repeat;
  -webkit-mask:url('../../src/img/wheel.svg') no-repeat;
  mask-size:contain;
  -webkit-mask-size:contain;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  }
}

.popup-time {
  font-size: 14px;
  &::before {
  vertical-align: middle;
  display: inline-block;
  content: ' ';
  background-color:white;
  mask:url('../../src/img/clock.svg') no-repeat;
  -webkit-mask:url('../../src/img/clock.svg') no-repeat;
  mask-size:contain;
  -webkit-mask-size:contain;
  height: 28px;
  width: 30px;
  margin-right: 10px;
  }
}

@media screen and (max-width:769px) {
    #filteroverlay label, #filteroverlay select {font-size:14px;}
    #filteroverlay h3 {font-size: 16px; font-weight: bold; margin: 8px 0 8px 0;}
    #filteroverlay h2 {padding:17px 0 0 5px;}
    #filteroverlay svg, .wochentag, .uhrzeit, #filteroverlay h2 {display:none;}
    .title {grid-template-columns: 1fr;}
    #filteroverlay {padding-top:0; border-top:5px solid #4f4f4f; max-width: 100%}
    .unfallschwere {grid-row-start: 1; grid-row-end: 5;}
}

.featured-stage__background:after {
  content: none;
}

.mapboxgl-ctrl-top-left {
  display: none;
  @include breakpoint($breakpoint--m) {
    display: block;
    top: 75px;
  }
}

.featured-stage .entry-header {
  transition-duration: 1s;
  opacity: 1;
}

.oversize {
  width: 100vw;
  margin-left: calc(-100vw / 2 + 90vw / 2);
  margin-right: calc(-100vw / 2 + 90vw / 2);
  @include breakpoint($breakpoint--m) {
    margin-left: calc(-100vw / 2 + 700px / 2);
    margin-right: calc(-100vw / 2 + 700px / 2);
  }

  @include breakpoint($breakout__width--xl) {
    margin: 0 auto;
    width: 1440px;
    margin-left: -370px;
  }

}

.step-picture {
  max-width: 100%;
}

.step-picture-legend {
  color: white !important;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
  font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
}

/*barchart*/

.wrapper {
  width: 100%;
}

.axis--x path {
  display: none;
}

.axis--y path {
  stroke: black;
}

.axis--y line {
  stroke: black;
}

.axis--y .tick text {
  font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
  fill: black;
  alignment-baseline: text-after-edge;
  font-size: 14px;
  /*@include MQ(S) {
    font-size: 12px;
  }*/
}

.axis--x text {
  font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
  fill: black;

}

.bar-value {
  font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
  fill: black;
  font-weight: 700;
  font-size: 14px;

}

.chart-title text {
  font-size: 20px;
  font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
  font-weight: 700;
}

.barchart-label {
  font-size: 14px;
}


