@import 'reset';
@import 'variables';
@import 'links';
@import 'placeholder';
@import 'elements';
@import 'font-face';
@import '~modularscale-sass/stylesheets/modularscale';
@import 'profil-form';
@import 'breakpoint';

/*#map { position:absolute; top:0; bottom:0; width:100%; height: 100%;}*/



  



/* Styling the Dropdown */
.profil-form__select::after {
  border-color:#383838;
  border-bottom-color:white;
  border-left-color:white;
}

.profil-form__select {
  width: 100%;
  margin:0;
  display:inline-block;
  border-color:white;
}

.profil-form__select select {
  width:100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}


/* Styling the Slider */
/* The slider itself */
.slider {
  -webkit-appearance: none;  
  appearance: none;
  /* min-width:320px; */
  max-width: 100%;
  width:100%;
  height: 2px; 
  background: #d3d3d3;
  background: linear-gradient(to right, #f4f4f4 0%,#e3e3e3 50%,#f4f4f4 100%);
  outline: none; 
  opacity: 1; 
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; 
  height: 30px;
  border-radius:99px;
  border:1px solid white;
  background: #30a370; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #2A8C63 0%, #30a370 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #2A8C63 0%,#30a370 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #2A8C63 0%,#30a370 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2A8C63', endColorstr='#30a370',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px; 
  height: 30px;
  border-radius:99px;
  border:1px solid white;
  background: #30a370; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #2A8C63 0%, #30a370 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #2A8C63 0%,#30a370 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #2A8C63 0%,#30a370 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2A8C63', endColorstr='#30a370',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  cursor: pointer; 
}

.switch-field {
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
  color:black !important;
}

.switch-field label {
  display: inline-block;
  background-color: #f4f4f4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid #c7c7c7;
  
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #30a370;
  -webkit-box-shadow: none;
  box-shadow: none;
  color:white !important;
  border-color:#30a370;
}

.profil-form__select select {
    padding: 4px 10px;
}

.profil-form__select:after {
    top:11px;
}

/* sticky shizzle */

 .filler {
  min-height: 50rem;
  text-align: center;
}


#scrolly-overlay .scrolly {
  /*max-width: 100%;*/
/*  margin: 3rem auto;*/
  /*background-color: #f4f4f4;*/
  /*padding: 1rem;*/
}
#scrolly-overlay .scrolly article {
  padding: 0;
  max-width: 50rem;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;

}
#scrolly-overlay .scrolly article .step {
  min-height: 95vh;
}
#scrolly-overlay .scrolly article .step:last-of-type {
  margin-bottom: 0;
}
#scrolly-overlay .scrolly article .step.is-active p {
  opacity: 1;
  transition: 1.5s;
}
#scrolly-overlay .scrolly article .step p {
    opacity: 1;
    font-size: 32px;
    color: white;
    font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    margin: 0;
    padding: 1rem 0;
    text-align: left;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    transition: opacity 500ms ease-in-out;
    font-weight:normal;
}

#scrolly-overlay .scrolly article .step p span {
    font-weight:bold;
    margin-bottom:15px;
    line-height:36px;
    padding: 1rem 0;
    background:#30a370;
    text-shadow: none;
}

#scrolly-overlay .scrolly .sticky {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 100vh;
  background: #969696;
  margin: 0;
  top: 0;
  left: 0;
}

#slides {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.slide {
  position: absolute;
    width:100%;
    height:100%;
}

#mapScrolly {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

#mapViz {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.mapboxgl-canvas {
  height: 100%;

}

#uhrzeitSlider {
    padding-bottom: 17px; 
}



.closelegend:after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    transform: rotate(-45deg);
    border: 5px solid white;
    border-right: 5px solid #3e3e3e;
    border-top: 5px solid #3e3e3e;
    right: 10px;
    top:13px;
}

/* Layout Options WITH FLEX 
#filteroverlay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom:0;
    }

#filteroverlay svg {
    height:90px;
    
}

#filteroverlay > div:last-child {
    margin-bottom:30px;
}

.widget {
    flex:1 100%;
}

.rowflex {
    display: flex;
    flex-direction: row;
    
}
.between {
    justify-content: space-between;
}

.left {
    justify-content: flex-start;
}

.halfwidget {
    width:45%;
    
}

*/

/* Layout Option with Grid */

#filteroverlay {
    max-width:500px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-template-areas: 
        "closelegend closelegend"
        "title title"
        "wochentag unfallart"
        "unfallschwere unfallschwere"
        "uhrzeit jahre";
    bottom:0;
    font-family: 'Haas Grot Disp Web', 'Arial', sans-serif;
    color: white;
    position: absolute;
    margin: 0;
    padding: 10px 20px;
    background: grey;
        & h2 {
            font-size: ms(5);
            line-height: 1.2;
            margin:0;
            padding: 36px 0 0 5px;
        }
            @include breakpoint($breakpoint--m) {
            margin: 10px;
            min-width: 300px;
            min-height: 300px;
        }
}


.closelegend {
    grid-area:closelegend;
    display:grid;
    grid-template-columns:auto 30px;
}
.closelegend p {
    justify-self:right;
    margin:0 0 8px 0;
}
.title {
    grid-area:title;
    display:grid;
    grid-template-columns:30% 70%;
}
.unfallart {
    grid-area:unfallart;
}
.wochentag {
    grid-area:wochentag;
}
.unfallschwere {
    grid-area:unfallschwere;
}
.uhrzeit {
    grid-area:uhrzeit;
}
.jahre {
    grid-area:jahre;
}

#filteroverlay svg {
    height:90px;
    
}
/*h1 {
  @include NeueHaasGrotDisp-65Medium-Web;
  font-size: ms(8);
  line-height: 1.2;
  @include breakpoint($breakpoint--m) {
    font-size: ms(11);
  }
}

h2 {
  @include NeueHaasGrotDisp-65Medium-Web;
  font-size: ms(5);
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 60px;
}*/